<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title th:text="#{add_guest_button}"></title>
</head>
<body>
<header th:insert="~{navbar.html}"></header>
<div class="container px-5">
    <h1 class="text-center" th:text="#{add_guest}"></h1><br>
    <form th:action="@{/guests/addguest}" th:object="${guestViewModel}" method="post">
        <div th:if="${#fields.hasErrors()}" class="alert alert-danger">
            <p th:text="#{error_text}"></p>
        </div>
        <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label" th:text="#{guest_name}"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Enter name">
                <div th:if="${#fields.hasErrors('name')}" class="alert alert-danger mt-2" th:errors="*{name}"></div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="birthDate" class="col-sm-2 col-form-label" th:text="#{birth_date}"></label>
            <div class="col-sm-10">
                <input type="date" class="form-control" th:field="*{birthDate}" id="birthDate">
                <div th:if="${#fields.hasErrors('birthDate')}" class="alert alert-danger mt-2" th:errors="*{birthDate}"></div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="nationality" class="col-sm-2 col-form-label" th:text="#{nationality}"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{nationality}" id="nationality" placeholder="Enter nationality">
                <div th:if="${#fields.hasErrors('nationality')}" class="alert alert-danger mt-2" th:errors="*{nationality}"></div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="hotelName" class="col-sm-2 col-form-label" th:text="#{hotel_name}"></label>
            <div class="col-sm-10">
                <select class="form-control" th:field="*{hotelName}" id="hotelName">
                    <option th:each="hotel : ${hotels}" th:value="${hotel.name}" th:text="${hotel.name}"></option>
                </select>
                <div th:if="${#fields.hasErrors('hotelName')}" class="alert alert-danger mt-2" th:errors="*{hotelName}"></div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="roomNumber" class="col-sm-2 col-form-label" th:text="#{room_number}"></label>
            <div class="col-sm-10">
                <select class="form-control" th:field="*{roomNumber}" id="roomNumber">
                    <option value="101">101</option>
                    <option value="201">201</option>
                    <option value="301">301</option>
                    <option value="401">401</option>
                    <option value="501">501</option>
                </select>
                <div th:if="${#fields.hasErrors('roomNumber')}" class="alert alert-danger mt-2" th:errors="*{roomNumber}"></div>
            </div>
        </div>
        <!--
        <div class="row mb-3">
            <label for="image" class="col-sm-2 col-form-label" th:text="#{upload_image}"></label>
            <div class="col-sm-10">
                <input class="form-control" type="file" th:field="*{image}" id="image" accept="image/*" required>
                <div th:if="${#fields.hasErrors('image')}" class="alert alert-danger mt-2" th:errors="*{image}"></div>
            </div>
        </div>
        -->
        <button type="submit" class="btn btn-danger" th:text="#{add_guest_button}"></button>
    </form><br></div>
<footer th:insert="~{footer.html}"></footer>
</body>
</html>
