<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="/css/bundle-index.css">
    <script src="/js/bundle-index.js" defer></script>
  </head>
  <body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
      <div class="card p-4 shadow-lg" style="width: 400px">
        <h2 class="text-center">Login</h2>
        <form th:action="@{/login}" method="post">
          <!-- CSRF TOKEN -->
          <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}"
          />

          <div class="mb-3">
            <label for="username">Username:</label>
            <input
              type="text"
              id="username"
              name="username"
              class="form-control"
              required
            >
          </div>
          <div class="mb-3">
            <label for="password">Password:</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              required
            >
          </div>

          <button type="submit" class="btn btn-danger w-100">Login</button>
        </form>

        <div th:if="${param.error}" class="alert alert-danger mt-3">
          Invalid username or password
        </div>

        <!--        <button class="btn btn-secondary w-100 mt-3" data-bs-toggle="collapse" data-bs-target="#userTable">Users</button>-->
        <!--        <div class="collapse mt-3" id="userTable">-->
        <!--            <table class="table table-bordered">-->
        <!--                <thead>-->
        <!--                <tr>-->
        <!--                    <th><strong>Username</strong></th>-->
        <!--                    <th><strong>Password</strong></th>-->
        <!--                    <th><strong>Role</strong></th>-->
        <!--                </tr>-->
        <!--                </thead>-->
        <!--                <tbody>-->
        <!--                <tr>-->
        <!--                    <td>admin_test</td>-->
        <!--                    <td>admin123</td>-->
        <!--                    <td>ADMIN</td>-->
        <!--                </tr>-->
        <!--                <tr>-->
        <!--                    <td>user_test</td>-->
        <!--                    <td>guest123</td>-->
        <!--                    <td>USER</td>-->
        <!--                </tr>-->
        <!--                </tbody>-->
        <!--            </table>-->
        <!--        </div>-->
      </div>
    </div>
  </body>
</html>
