<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8">
    <title th:text="#{details_about} + ' ' + ${hotel.name}"></title>
    <link rel="stylesheet" th:href="@{/css/bundle-index.css}" />
    <script defer th:src="@{/js/bundle-index.js}"></script>
  </head>
  <body>
    <header th:insert="~{fragments/navbar.html}"></header>

    <div class="container mt-5 text-center pb-2">
      <figure class="figure mx-auto">
        <h2 th:text="#{details_about} + ' ' + ${hotel.name}"></h2>
        <img
          th:src="@{'/images/' + ${hotel.name.toLowerCase().replace(' ', '-')} + '.jpg'}"
          alt="Hotel"
          class="img-fluid mb-3"
          width="200"
          height="400"
        />
        <figcaption class="figure-caption">
          <p>
            <strong th:text="#{hotel_name}"></strong>: <span
              th:text="${hotel.name}"
            ></span>
          </p>
          <p>
            <strong th:text="#{location}"></strong>: <span
              th:text="${hotel.location}"
            ></span>
          </p>
        </figcaption>
      </figure>

      <h3
        th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
        th:text="#{guests_list}"
      >
      </h3>
      <table
        class="table"
        th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
      >
        <thead>
          <tr>
            <th th:text="#{guest_name}"></th>
            <th th:text="#{birth_date}"></th>
            <th th:text="#{nationality}"></th>
            <th th:text="#{details}"></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="guest : ${guests}">
            <td th:text="${guest.name}"></td>
            <td th:text="${guest.dateOfBirth}"></td>
            <td th:text="${guest.nationality}"></td>
            <td>
              <a
                th:href="@{/guests/guest/{id}(id=${guest.guestId})}"
                class="btn btn-danger"
                th:text="#{details}"
              ></a>
            </td>
          </tr>
        </tbody>
      </table>

      <p>
        <a
          th:href="@{/hotels}"
          class="btn btn-danger"
          th:text="#{back_to_hotels_button}"
        ></a>
      </p>
    </div>

    <footer th:insert="~{fragments/footer.html}"></footer>
  </body>
</html>
