<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title th:text="#{details_about} + ' ' + ${guest.getName()}"></title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script defer th:src="@{/js/update-guest.js}"></script>
</head>
<body>
<header th:insert="~{fragments/navbar.html}"></header>

<div class="container mt-5 text-center pb-2">
  <figure class="figure mx-auto">
    <h2 th:text="#{details_about} + ' ' + ${guest.getName()}"></h2>
    <img id="guestImage" th:src="@{'/images/' + ${guest.getName().toLowerCase().replace(' ', '-')} + '.jpg'}"
         alt="Guest" class="img-fluid mb-3" width="200" height="400" />
    <figcaption class="figure-caption">
      <p><strong th:text="#{birth_date}"></strong>: <span th:text="${guest.getDateOfBirth()}"></span></p>
      <p><strong th:text="#{nationality}"></strong>: <span th:text="${guest.getNationality()}"></span></p>
      <p><strong th:text="#{hotel_name}"></strong>: <span th:text="${guest.getHotel().getName()}"></span></p>
      <p><strong th:text="#{room_number}"></strong>: <span th:text="${guest.roomListString()}"></span></p>
    </figcaption>
  </figure>

  <h3 th:text="#{update_guest_info}"></h3>
  <form id="updateGuestForm" class="mx-auto" style="max-width: 500px;">
    <div class="mb-3 text-start">
      <label for="name" class="form-label" th:text="#{guest_name}"></label>
      <input type="text" class="form-control" id="name" name="name" th:value="${guest.getName()}" />
    </div>
    <div class="mb-3 text-start">
      <label for="nationality" class="form-label" th:text="#{nationality}"></label>
      <input type="text" class="form-control" id="nationality" name="nationality" th:value="${guest.getNationality()}" />
    </div>
    <div class="mb-3 text-start">
      <label for="birthDate" class="form-label" th:text="#{birth_date}"></label>
      <input type="date" class="form-control" id="birthDate" name="dateOfBirth"/>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-danger w-100" th:text="#{save_changes}"></button>
    </div>
  </form>

  <p class="mt-3">
    <a th:href="@{/guests}" class="btn btn-secondary w-100" th:text="#{back_to_guests_button}"></a>
  </p>
</div>

<footer th:insert="~{fragments/footer.html}"></footer>
</body>
</html>
